h1
{
	color:rgb(248, 80, 150);
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;	font-size:75px;
	margin:0;
	padding:50px;
	background-image: url("df.jpg");
	background-position: center;
  	 backdrop-filter: blur(8px);
}

body 
{
	font-family: Verdana, sans-serif;
	background-color: ivory;
	font-size: 15px;
}

nav
{
	background: rgb(102, 196, 196);
	padding:15px;
	display:flex;
}

a
{
	text-decoration: none;
}

a:hover
{
	background-color:skyblue;
}



span
{
	color:brown;
	font-family:cursive;
	font-size:30px;
}

.section-container
{
--bs-gutter-x: 1.5rem;
--bs-gutter-y: 0;
display: flex;
flex-wrap: wrap;
}
.section-container .columns
{
flex:0 0 auto;
width:50%;
height: 400px;;
}
.section-container .columns.image
{
background-position:center;
background-repeat:no-repeat;
background-size:cover;
}
.section-container .columns.content .content-container
{
padding:40px 50px;
}
.section-container .columns.content .content-container h5
{
font-weight:700;
font-size:25px;
margin-bottom:20px;
}
.section-container .columns.content .content-container p
{
font-weight:400;
font-size:16px;
margin-bottom:20px;
margin-bottom:15px;
text-align:justify;
}
@media screen and (max-width:767px)
{
.section-container
{
flex-flow:row wrap;
}
.section-container .columns.image{
display:block;
order:1;
width:100%;
height:400px;
}
.section-container .columns.content
{
display:block;
order:2;
width:100%;
}
.section-container .columns.content .content-container
{
padding:20px 35px;
}
.section-container .columns.content .content-container h5
{
margin-bottom:5px;
}
}

.block {
	background-color: lightgrey;
	width: 60%;
	border: 15px solid rgba(70, 149, 64, 0.495);
	padding: 10px;
	margin: auto;
	height:120px;
  }